.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto

fireSense_dataPrepFit_cache/
fireSense_dataPrepFit2.Rmd

# testthat failure snapshots
tests/testthat/_problems/
tests/testthat/testthat-problems.rds
